body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: #dc793e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#button-panel {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  width: 100%;
}

.button {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: #dc793e;
  border-color: #dc793e;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
  padding: 10px;
}

.button:hover {
  background-color: #dc793e;
  color: black;
}

.invisible {
  display: none;
}

#button-panel {
  margin: 20px;
}

#play-again-button {
  width: max-content;
  padding: 10px;
}

.scoreboard {
  text-align: center;
  border-collapse: collapse;
  border-color: #dc793e;
  table-layout: fixed;
  max-width: 200px;
  width: 100%;
}

th, td {
  padding: 0px 10px 0px 10px;
}

.scoreboard-number {
  font-size: 5em;
}

.scoreboard-header {
  border-bottom: 1px solid;
}

.vertical-border {
  border-right: 1px solid;
}

#game-history-title {
  text-decoration: underline #dc793e solid;
}
