body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: #dc793e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: #dc793e;
  border-color: #dc793e;
  border-radius: 1em;
}

button:hover {
  background-color: #dc793e;
  color: black;
}

#button-panel {
  margin: 20px;
}

.scoreboard {
  text-align: center;
  border-collapse: collapse;
  border-color: #dc793e;
  table-layout: fixed;
  max-width: 200px;
  width: 100%;
}

th, td {
  padding: 0px 10px 0px 10px;
}

.scoreboard-number {
  font-size: 5em;
}

.scoreboard-header {
  border-bottom: 1px solid;
}

.vertical-border {
  border-right: 1px solid;
}

#game-history-title {
  text-decoration: underline #dc793e solid;
}
